@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h3 {
        font-family: "Press Start 2P"
    }

    html {
        font-family: "Montserrat"
    }

    .readmore {
        font-family: "Press Start 2P"
    }
}